// Variables
$white: #FFF;
$gris100: #DEDEDE;
$gris200: #CCCCCC;
$gris300: #999;
$gris400: #666;
$gris600: #444;
$gris700: #222;
$black: #000;
$primary-color: #FF7B00;
$primary-color-dark: darken($primary-color, 10);
